* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif
}

.calculator {
    width: 400px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr repeat(5, 1fr);
    margin: 50px auto;
    grid-gap: 2px;
}

.display {
    grid-column: 1 / 5;
    background-color: #f3f3f3;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}

.expression {
    font-size: 1.8em;
}

.result {
    font-size: 3.2em;
}

.btn {
    color: white;
    font-size: 1.5em;.
}

.color-black {
    background-color: #2f2f3d;
}

.color-blue {
    background-color: #1f9def;
}

.color-orange {
    background-color: #ffa26e;
}