* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.parent {
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
}

.item-1 {
    grid-row: 1/2;
    grid-column: 7/8;
    background-color: blue;
}

.item-2 {
    grid-row: 1/2;
    grid-column: 8/9;
    background-color: blue;
}

.item-3 {
    grid-row: 2/3;
    grid-column: 3/6;
    background-color: blue;
}

.item-4 {
    grid-row: 2/3;
    grid-column: 6/7;
    background-color: blue;
}

.item-5 {
    grid-row: 2/3;
    grid-column: 7/8;
    background-color: blue;
}

.item-6 {
    grid-row: 2/3;
    grid-column: 8/9;
    background-color: blue;
}

.item-7 {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: purple;
}

.item-8 {
    grid-row: 3/4;
    grid-column: 7/8;
    background-color: blue;
}

.item-9 {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: purple;
}

.item-10 {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: purple;
}

.item-11 {
    grid-row: 4/5;
    grid-column: 5/8;
    background-color: green;
}

.item-12 {
    grid-row: 5/6;
    grid-column: 2/3;
    background-color: purple;
}

.item-13 {
    grid-row: 5/6;
    grid-column: 3/4;
    background-color: purple;
}

.item-14 {
    grid-row: 5/6;
    grid-column: 5/6;
    background-color: green;
}

.item-15 {
    grid-row: 5/6;
    grid-column: 6/7;
    background-color: green;
}

.item-16 {
    grid-row: 6/7;
    grid-column: 1/2;
    background-color: purple;
}

.item-17 {
    grid-row: 6/7;
    grid-column: 2/3;
    background-color: purple;
}

.child {
    color: white;
    padding: 10px;
}