/* comment */

h1 {
     color: #54DC32;
     background-color: rgba(137, 37, 211, 0.7);
}

p {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

#secondparagraph {
    color: purple;
}

.backgroundyellow {
    background-color: yellow;
}

#redbackground{
    background-color: red
}

.boxmodel {
    border: blue 5px dotted;
    padding: 30px 60px 90px 120px; 
    margin: 50px;
}

.align{
    text-align: center;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

table, th, td {
    border: 1px solid black
}

table {
    border-collapse: collapse;
}

.link, .link:visited {
    text-decoration: none;
    color: black;
    transition: all 1s;
}

.link:hover {
    color: red;
    font-size: 20px;
}

.margin {
    margin: 50px;
}

.button {
    font-family: sans-serif;
    border: 3px solid blue;
    border-radius: 10px;
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.4s;
}

.button:hover {
    background-color: blue;
    color: white;
} 